@import url();

@font-face {
  font-family: "Audimat";
  src: url("fonts/Audimat-Mono.ttf.woff") format("woff");
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#root {
  height: 100%;
  padding: 2em;
}

/* html, */
body {
  margin: 0;
  contain: layout;
  /* height: 100%; */
  /* padding: 2em; */
}

.ReactGridGallery_tile-viewport:hover {
  outline: 1px solid #739eae;
}
