@import url();

@font-face {
  font-family: "Audimat";
  src: url("fonts/Audimat-Mono.ttf.woff") format("woff");
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#root {
  height: 100%;
  padding: 2em;
}

/* html, */

@media only screen and (min-width: 1900px) {
  body {
    margin: 0;
    contain: layout;
    overflow: hidden;
    /* height: 100%; */
    /* padding: 2em; */
  }
}
body {
  margin: 0;
  contain: layout;
  /* overflow: hidden; */
  /* height: 100%; */
  /* padding: 2em; */
}

.ReactGridGallery_tile-viewport:hover {
  outline: 1px solid #739eae;
}

.toolbar-grid-container {
}
.toolbar-grid-container div:nth-child(1) {
  animation: "fadeIn";
  animation-delay: 0.5s;
}
.toolbar-grid-container div:nth-child(2) {
  animation: fadeIn;
  animation-delay: 1s;
}
.toolbar-grid-container div:nth-child(3) {
  animation: fadeIn;
  animation-delay: 1.5s;
}
.toolbar-grid-container div:nth-child(4) {
  animation: fadeIn;
  animation-delay: 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
