.ReactGridGallery {
  margin: auto;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* FIXES ISSUES WITH SLICK SLIDE IMAGE SIZING */
.slick-track img {
  color: red;
  object-fit: contain;
  height: 80vh;
}
