.loading-bar {
  background: linear-gradient(270deg, #5794a5, #ffffff);
  background-size: 200% 200%;

  -webkit-animation: AnimationName 1s ease infinite;
  -moz-animation: AnimationName 1s ease infinite;
  animation: AnimationName 1s ease infinite;
  /* animation-direction: alternate; */
  position: absolute;
  width: 50%;
  background-color: red;
  height: 0.5em;
  left: 25%;
  top: 40%;
  border-radius: 30px;
  z-index: 1;
  border: 1px solid #5794a5;
}
.loading-bar-hidden {
  animation: Shrink 5s linear;
}

@keyframes Shrink {
  0% {
    width: 50%;
    display: block;
  }
  50% {
    width: 0%;
    display: block;
  }
  100% {
    width: 0%;
    display: hidden;
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
