# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Firebase CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
    - name: Archive Build
    - uses: actions/upload-artifacts@v2
    - with: 
        name: build
        path: build

  deploy:
    name: deploy
    needs: build
    runs-on: ubuntu-latest
      - uses: actions/checkout@v2
      - uses: Download Build
      - uses: actions/download-artifacts@v2
      - with: 
          name: build
          path: build
      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
          args: deploy --only hosting
          env:
            FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN}}

          